html, body {
  height: 100%;
  background: white;
  font-size: 90px;
  font-family Georgia, serif;
  user-select: none;
  color: pink
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

button {
  text-align: center;
  border: none;
  background: pink;
  color: white;
  font-size: 50px;
  font-family: Georgia, serif;
  border-radius: 5px;
  width: 200px;
}
